.App {
  text-align: center;
}

.App-bg{
  position:absolute;
  top: 30%;
  right: 20%;
  color: transparent;
  font-size: 160px;
  text-transform: italic;
  line-height: 3px;
  -webkit-text-stroke: 1px  black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {

  font-size: calc(10px + 2vmin);
}


